.ui-container {
    position: absolute;
    top: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 8px;
}

.controls-panel {
    margin: 16px 0 24px;
}
